@{
    ViewData["Title"] = "Character Not Found";
}



<div class="jumbotron mt-5">
    <h1 class="display-3">
        <span class="fa fa-frown"></span>
        ¡We are sorry!
    </h1>
    <p class="lead">The Character with the given Id was not found or the Id was invalid. Click the button below to go to the Home page.</p>
    <a class="btn bg-primary btn-xs" asp-action="Index" asp-controller="Home">
        <span class="fa fa-home mr-1"></span>
        Back to Home page
    </a>
</div>


