@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="col-10 mx-auto pb-3">
        <div class="input-group">
            <input type="text"
                   name="characterName"
                   value="@TempData.Peek("searchTerm")"
                   placeholder="Type your favorite SuperHeroe´s or Villain´s name here and press the INTRO key to search"
                   class="form-control form-control-lg" autofocus />
            <div class="input-group-append">
                <button type="submit" class="btn btn-warning">
                    <i class="fa fa-search-plus"></i>
                </button>
            </div>
        </div>
    </div>
}